/* NAVBAR*/

.brand{
	z-index: 1;
	left:50px;
}
.navbar {
	margin:0;
	padding-right: 20px;
  background-color: #deeded;
  height: 100px;
}
li.nav-item{
  height: 100px;
}
a.navbar-brand{
padding-top: 0;
}
/* index*/
body{
  background-image: url("images/fondo.png");
}
.item h3{
  color: black;
}
.index-noticias{
  padding: 50px 0 50px 0;
}
/* nosotros*/
.container .col-md-12{
  padding: 100px 0 50px 0;
}
.founder{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* noticias*/

.card-img-top{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* FOOTER*/
footer{
  background-color: #deeded;
  height: 550px;
  padding-top: 50px;
}
.form-control{
  margin: 10px 10px 10px 0;
}
button {
  width: 100%;
}
.sociales{
  width: 50px;
}
.img-thumbnail{
  height: 250px;
}
ul{
  list-style: none;
  padding: 20px 0 0 0;
}
